{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "swabarve@in.ibm.com",
      "Space": "dev"
    },
    "Name": "sample-nodejs-cloudant-test",
    "Instrumentation": {
      "host": "simple-toolchain-sab-17008171",
      "domain": "mybluemix.net"
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}